@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap");

:root {
  --pinkish-grey: #c6c6c6;
  --greyish-brown: #454545;
  --ice-blue: #f9fcff;
  --turquoise: #0bc29f;
  --bright-sky-blue: #00b1ff;
  --dark-blue-grey: #1f2a55;
  --azul: #2564ee;
  --black: #171717;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  word-break: break-word;
  background-color: #fafafa;
}

body,
#root {
  overflow: hidden;

  width: 100%;
  height: 100%;
  font-family: "Baloo 2", sans-serif;
}

a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
}
